@mixin body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: Graphik, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #101010;
  -webkit-font-smoothing: antialiased;
  //   background-image: url(../images/Nainoa-background-img.jpg);
}
